.DS_Store
*~

/Makefile
/bin

talks
papers
change.log
public_html
public_html.version
VERSION

*.pdf
chooser.html
*.txt
*.css
*.js
*.six
*Bib.xml
*Bib.xml.bib
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.log
*.pnr
*.tex
*.toc
*.txt
*.out
manual.lab

/polymake
/test
.gitold/
libpolymake-dlopen.patch
/polymake-svn
/polymakesave

